@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Poppins, sans-serif;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    top: 0px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: RGB(44, 160, 171, 0.8);
}

.left {
    font-size: 1.5rem;
    font-weight: 700;
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 23px;
}

nav ul li a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
    color: aqua;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    right: 95px;
    background-color: RGB(44, 160, 171, 0.8);
    ;
    border: 1px solid #00ffea;
    border-radius: 10px;
    z-index: 1;
}

.games-dropdown:hover .dropdown-content {
    display: block;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
}

.games-grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    padding: 5px;
    border: 1px solid #00ffea;
    border-radius: 40px;
    margin: auto;
    background-color: RGB(0, 0, 0, 0.8);
    font-size: 14px;
}

.games-grid a {
    text-decoration: none;
    color: white;
}

.games-grid div:hover {
    background-color: RGB(0, 0, 0, 0.5);
    border: 1px solid #00aeff;
}

main {
    width: 100%;
    height: 100vh;
    margin-top: 1.5%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.arrow {
    display: inline-block;
    font-family: "Satisfy", cursive;
    font-size: 50px;
    margin: 0 10px;
}

.button-text {
    display: inline-block;
    font-size: 24px;
    transition: color 1s;
}

.button-text:hover {
    color: #defffc;
    text-shadow: 0 0 2px #00aeff, 0 0 4px #00aeff, 0 0 6px #00aeff, 0 0 8px #00aeff, 0 0 10px #00aeff, 0 0 12px #00aeff, 0 0 14px #00aeff;
    -webkit-text-stroke: 0.2px #fff;
    text-decoration: underline;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-items: center;
    background-color: RGB(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

.foot {
    text-align: center;
}

footer h3 {
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 300;
    color: thistle;
}

footer p {
    font-size: 10px;
    font-weight: 200;
    color: thistle;
}

.Neon_text {
    color: #defffc;
    text-shadow: 0 0 2px #00ffea, 0 0 4px #00ffea, 0 0 6px #00ffea, 0 0 8px #00ffea, 0 0 10px #00ffea, 0 0 12px #00ffea, 0 0 14px #00ffea;
    -webkit-text-stroke: 0.2px #fff;
}

.Font-Satisfy {
    font-family: "Satisfy", cursive;
}

.Font-Poppins {
    font-family: Poppins, sans-serif;
}

.Font-Poppins {
    font-family: Poppins, sans-serif;
}

.Headding {
    font-size: 2.5rem;
    font-weight: 500;
}

.row-reverse {
    flex-direction: row-reverse;
}

.small-txt {
    font-size: medium;
}